%embed{ :src => "/sounds/hammer.wav", :autostart => "true", :loop => "true", :width => "1", :height => "0"}
You nailed it! Dancing Erick salutes you:
.clear
%img{ :src => "/images/erick.gif" }
.clear
%a{ :href => root_path }
	Try another one