%embed{ :src => "/sounds/sadlaura.wav", :autostart => "true", :loop => "false", :width => "1", :height => "0" }
Nooooooo! Wrong answers make Laura sad.
.clear
%img{ :src => "/images/laura.jpg" }
.clear
= render :partial => "guesses/score"
.clear
%a{ :href => root_path }
	Try another one
.clear
%a{ :href => "javascript:javascript:history.go(-1)" }
	Try again
.clear
-if @author 
	%a{ :href => "#", :onclick => "reveal();"}
		Click to reveal the correct answer
	.clear
	#answer	
		Are you kidding? That one is pure 
		= @author.name