%embed{ :src => "/sounds/sadlaura.wav", :autostart => "true", :loop => "false", :width => "1", :height => "0" }
Nooooooo! Laura is sad.
.clear
%img{ :src => "/images/laura.jpg" }
.clear
%a{ :href => root_path }
	Try another one