%embed{ :src => "/sounds/sadlaura.wav", :autostart => "true", :loop => "false", :width => "1", :height => "0" }
Nooooooo! Wrong answers make Laura sad.
.clear
%img{ :src => "/images/laura.jpg" }
.clear
%a{ :href => root_path }
	Try another one
.clear
%a{ :href => "javascript:javascript:history.go(-1)" }
	Try again